.carousel-indicators li {
			  width: 0.8rem;height: 0.8rem;
			  border-radius: 50%;
			  background-color: white;
}
.carousel-indicators .active{background-color: #0056B3;}
.top_height{
	height: 377px; background-color: #e8e8e8;
}
.botton_height{height: 233px;background-color: #e8e8e8;}