* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.showcase_list img {
  width: 100%;
  /*margin-bottom:36px;*/
}

.home_container,
.footer_container {
  width: 100%;
  margin: 0 auto;
}

footer {
  color: #fff;
}

.footer_container_box {
  background-color: #999;
}

.footer_container .footer_container_div1_p1 {
  font-size: 22px;
  color: #fff;
}

.footer_container {
  padding: 32px 0;
}

.footer_container .footer_container_div2_p1 {
  font-size: 18px;
  color: #fff;
}

.footer_container p {
  font-size: 13px;
  color: #ccc;
}

footer .footer_center_box {
  background-color: #000000 !important;
  color: #fff;
}

.footer_center_box_content {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  color: #ccc;
}

.footer_footer_box {
  background-color: #999;
}

.footer_footer_box_div {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

input {
  outline: none;
  background-color: transparent;
  width: 300px;
  height: 48px;
  line-height: 48px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 15px;
}

button {
  outline: none;
  height: 48px;
  line-height: 48px;
  width: 200px;
  border: none;
  background-color: #f56f00;
  border-radius: 10px;
}

.header_top {
  background-color: #f56f00;
}

.header_top_container {
  width: 90%;
  margin: 0 auto;
}

.header_center {
  background-color: #fff;
}

.header_header_box {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999999;
}

.header_center_container {
  width: 90%;
  margin: 0 auto;
}

.header_center_input {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 10px;
  padding-left: 15px;
  margin-left: 40px;
}

li {
  list-style: none;
  cursor: pointer;
}

.header_center_menu li {
  float: left;
  height: 42px;
  line-height: 42px;
  margin-right: 30px;
}

.header_center_menu_menu {
  background-color: #fff;
  opacity: 0.8;
}

.header_center_menu_menu_box {
  position: relative;
}

.header_center_menu_menu {
  position: absolute;
  top: 42px;
  z-index: 999999;
  width: 200px;
  left: -70px;
  text-align: center;
  display: none;
}

.header_center_menu_menu_box:hover .header_center_menu_menu {
  display: block;
}

.header_center_menu_menu div div {}

.header_center_menu_menu div:hover {
  color: #f56f00;
  cursor: pointer;
}

video {
  outline: none;
}

.header_header_box_video {
  padding-top: 46px;
}

body {
  position: relative;
}

#model_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999999999999;
  top: 0;
  left: 0;
  display: none;
}

.model_box_div {
  position: fixed;
  top: 100px;
  width: 600px;
  background-color: #fff;
  left: 50%;
  margin-left: -300px;
  border-radius: 10px;

}

.model_box_div p {
  height: 80px;
  line-height: 80px;
  padding-left: 15px;
  color: red;
}

.close {
  position: absolute;
  top: 30px;
  right: 15px;
}

.header_center_input {
  cursor: pointer;
}

.header_center_input {
  position: relative;
}

.select_adress {
  position: absolute;
  z-index: 99999;
  background-color: #fff;
  width: 200px;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 15px;
  height: 300px;
  overflow-y: auto;
  display: none;
}

.select_adress li {
  border-bottom: 1px solid #ccc;
  color: #444;
}